<section>
  <div class="content">
    <h1>Driver's Championship Standings</h1>
    <hr />
    <div class="dropdown-container">
      <label for="year-select">Season</label>
      <select
        id="year-select"
        (change)="updateSelectedYear($event)"
        aria-describedby="season-select-help"
      >
        <option
          [value]="year"
          [selected]="selectedYear() == year"
          *ngFor="let year of availableYears"
        >
          {{ year }}
        </option>
      </select>
      <p id="season-select-help">
        Drop down list for selecting the season to view.
      </p>
    </div>

    <div class="dropdown-container">
      <label for="team-filter-select">Constructor</label>
      <select
        id="team-filter-select"
        (change)="updateTeamFilter($event)"
        aria-describedby="team-filter-select-help"
      >
        <option value="" [selected]="teamFilter() == ''">Any</option>
        <option
          *ngFor="let team of availableTeams()"
          [selected]="teamFilter() == team"
          [value]="team"
        >
          {{ team }}
        </option>
      </select>
      <p id="team-filter-select-help">
        Drop down list for filtering the table by constructor team.
      </p>
    </div>

    <div class="dropdown-container">
      <label for="country-filter-select">Driver Country</label>
      <select
        id="country-filter-select"
        (change)="updateCountryFilter($event)"
        aria-describedby="country-filter-select-help"
      >
        <option value="">Any</option>
        <option
          *ngFor="let country of availableCountries()"
          [selected]="countryFilter() == country"
          [value]="country"
        >
          {{ country }}
        </option>
      </select>
      <p id="country-filter-select-help">
        Drop down list for filtering the table by driver country.
      </p>
    </div>

    <div *ngIf="!data()?.length">
      <p>No data is available for this season.</p>
    </div>

    <div *ngIf="data()?.length && !filteredAndOrderedData().length">
      <p>There are no records that corrspond to the given filters.</p>
    </div>

    <button
      *ngIf="teamFilter().length || countryFilter().length"
      (click)="clearFilters()"
    >
      Clear Filters
    </button>

    <table *ngIf="filteredAndOrderedData().length">
      <thead>
        <tr>
          <th>
            <app-table-header
              title="Position"
              value="position"
              [currentValue]="ordering().parameter"
              [currentOrder]="ordering().order"
              (clicked)="updateOrdering('position')"
            >
            </app-table-header>
          </th>
          <th>
            <app-table-header
              title="Driver Name"
              value="driverName"
              [currentValue]="ordering().parameter"
              [currentOrder]="ordering().order"
              (clicked)="updateOrdering('driverName')"
            >
            </app-table-header>
          </th>
          <th>
            <app-table-header title="Driver Country"></app-table-header>
          </th>
          <th>
            <app-table-header
              title="Constructor"
              value="teamName"
              [currentValue]="ordering().parameter"
              [currentOrder]="ordering().order"
              (clicked)="updateOrdering('teamName')"
            >
            </app-table-header>
          </th>
          <th>
            <app-table-header title="Points Total"></app-table-header>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of filteredAndOrderedData()">
          <td class="centre">{{ row.position }}</td>
          <td class="highlight">{{ row.driverName }}</td>
          <td class="centre">{{ row.driverCountryCode }}</td>
          <td>{{ row.seasonTeamName }}</td>
          <td class="centre highlight">{{ row.seasonPoints }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<router-outlet />
